.development-warning {
  border: 2px solid red;
  border-radius: 5px;
  padding: 5px;
}


.lang-switcher {
  padding: 28px 30px 31px;

  @media only screen and (max-width: 640px) {
    padding: 8px 15px 7px;
  }
  @media only screen and (max-width: 419px) {
    display: block !important;
    float: none !important;
  }
  &:hover a {
    border-bottom: initial;
    color: initial;
  }

  a {
    font-size: initial;
    display: initial;
    color: initial;
    transition: initial;
    border: initial;
    line-height: initial;
    padding: initial!important;
    text-transform: initial;
    margin-left: 6px;
    margin-right: 6px;
    font-weight: initial;

    &:hover, &.active {
      color: #69acc7;
      border-bottom: 2px solid #69acc7;
    }
  }
}
