<header class="site-header">
  <div class="container">
    <div class="header-bar">
      <a routerLink="/" class="branding">
        <img src="/assets/images/logo.png" alt="" height="65" class="logo">
        <div class="logo-type">
          <h1 class="site-title">PIRAT</h1>
          <small class="site-description">Pandemic Important Resource Allocation Tool</small>
        </div>
      </a>

      <nav class="main-navigation">
        <ul class="menu">
          <li class="home menu-item {{ url === '/' ? 'current-menu-item' : '' }}">
            <a routerLink="/"><img src="/assets/images/home-icon.png" alt="Home"></a>
          </li>
          <li class="menu-item {{ url === '/contact' ? 'current-menu-item' : '' }}">
            <a routerLink="/contact" i18n="@@menu_ontact">Kontakt</a>
          </li>
          <li class="menu-item {{ url === '/about' ? 'current-menu-item' : '' }}">
            <a routerLink="/about" i18n="@@menu_about">Über uns</a>
          </li>
          <li class="menu-item {{ url === '/faq' ? 'current-menu-item' : '' }}">
            <a routerLink="/faq" i18n="@@menu_faq">FAQ</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>


<div class="container" *ngIf="!isProduction()">
<div class="row">
  <div class="development-warning">
    <span i18n="@@_underDevelopmentNote">
      Diese Seite ist intern und dient der Entwicklung. Die eigentliche Webseite befindet sich unter
    </span>
    <a href="https://pirat-tool.com"> https://pirat-tool.com</a>.
  </div>
</div>
</div>
