/*!
 * Project_Name: Science Labs
 * Author: Themezy
 * Email: contact@themezy.com
 * Url: http://www.themezy.com
 */

/*===========================================
 * Importing CSS Libraries
 *===========================================*/
 @import 	"libs/settings",
 			"libs/mixins",
 			"libs/normalize",
 			"libs/global",
 			"libs/components",

 			// importing bootstrap grid framework
 			"libs/bootstrap-grid/settings",
 			"libs/bootstrap-grid/mixins",
 			"libs/bootstrap-grid/grid",

			// importing layout styles
 			"layout/header",
 			"layout/content",
 			"layout/footer";


/*===========================================
 * General Project Styles
 *===========================================*/

.form-block {
	max-width: 768px;
	margin: 0 auto 35px;
	padding: 50px 7.5%;
	border-radius: 5px;
	box-shadow: 2px 2px 6px 2px #ccc;
}


.form-block__label {
	font-weight: bold;
	margin-bottom: 7px;

	button {
		background: none;
		border: none;
		outline: none;
	}
}


.form-block__headline {
	margin: 10px 0 35px;
	font-size: 42px;
	font-weight: bold;
	text-align: center;
}


.form-block__boxes {
	label {
		margin-right: 15px;
	}
}


.form-block__input-field {
	position: relative;
	margin: 27px 0;

	input, textarea {
		-webkit-appearance: none;
		-moz-appearance:    none;
		appearance:         none;
		border: none;

		width: 100%;
		height: 30px;
		padding-left: 7px;
		margin-bottom: 5px;

		&:focus {
			outline: none;

			&+.input-field-focus::after {
				width: 100%;
			}
		}

		&::placeholder {
			white-space: normal;
		}

		&:disabled {
			background: none;
		}
	}

	textarea {
		min-height: 60px;
	}

	label {
		padding-left: 7px;
	}

	.input-field-focus {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		pointer-events: none;
		border-bottom: 2px solid #d9d9d9;

		&::after {
			content: "";
			display: block;
			position: absolute;
			bottom: -2px;
			left: 0;
			width: 0;
			height: 2px;
			background: #69acc7;

			-webkit-transition: all .3s;
			-moz-transition:    all .3s;
			transition:         all .3s;
		}
	}

	.form-alert {
		position: absolute;
		bottom: -16px;
		left: 5px;
		font-size: 10px;
		margin: 0;
	}
}

.form-block__input-wrapper {
	position: relative;

	label {
		display: inline-block;
		margin: 5px 0 15px;
		span{
			font-weight: bold;
			font-size: 1.5em;

			&.form-alert {
				position: absolute;
				top: 33px;
				left: 0;
				font-size: 10px;
			}
		}
	}
}


.form-block__select {
	margin: 15px 0;

	span {
		display: block;
		margin-bottom: 5px;
	}

	select {
		width: 100%;
		max-width: 250px;
		height: 30px;
		padding: 5px;
		border-radius: 3px;
		border: 1px solid #8e9ca5
	}
}

.align-center {
	max-width: 768px;
	margin: 0 auto;

	&-text {
		text-align: center;
	}
}

.form-alert {
	margin-left: 5px;
	font-weight: bold;
	color: red;
	font-size: 10px;
}


.submit-button {
	button[disabled],
	button[disabled]:hover,
	button[disabled]:focus,
	button[disabled]:active{
		background-color: gray;
		box-shadow: none;
		color: #444e55;
	}
}


.button-bar {
	button {
		margin: 0 0 10px 10px;
	}

	.active {
		background: #69acc7;
		color: white;
		font-weight: bold;
	}

	margin-bottom: 30px;
}
