<div class="page-head">
  <div class="container">
    <h2 class="page-title">Angebot bearbeiten</h2>
  </div>
</div>

<main class="main-content" *ngIf="data">
  <div class="fullwidth-block">
    <div class="container">

      <div *ngIf="isNew" class="info-box">
        Das Angebot wurde erfasst. Auf dieser Seite können Sie Ihre Daten einsehen und bearbeiten. Eine Bestätigung
        wurde Ihnen auch per Email zugeschickt.
      </div>

      <div class="current-url">
        <div>
          Mit diesem Link kommen Sie auf diese Seite, um Ihr Angebot bearbeiten zu können. Bitte bewahren Sie ihn auf.
        </div>
        <div class="form-block__input-field">
          <input type="text" [value]="currentUrl" disabled/>
        </div>
      </div>

      <div class="form-block">
        <div class="form-block__label">
          Kontaktdaten
        </div>
        <div class="form-block__input-field">
          <label>
            Institution
          </label>
          <input type="text" [(ngModel)]="data.contactData.organisation" disabled>
        </div>

        <div class="form-block__input-field">
          <label>
            Verantwortliche Person
          </label>
          <input type="text" [(ngModel)]="data.contactData.person" disabled>
        </div>

        <div class="form-block__input-field">
          <label>
            E-Mail Adresse
          </label>
          <input type="text" [(ngModel)]="data.contactData.mail" disabled>
        </div>

        <div class="form-block__input-field">
          <label>
            Telefonnummer
          </label>
          <input type="text" [(ngModel)]="data.contactData.phone" disabled>
        </div>

        <div class="form-block__input-field">
          <label>
            Adresse
          </label>
          <br>
          <input type="text" placeholder="Straße" [(ngModel)]="data.contactData.street" disabled>
          <input type="text" placeholder="Hausnummer" [(ngModel)]="data.contactData.houseNumber" disabled>
          <input type="text" placeholder="PLZ" [(ngModel)]="data.contactData.postalCode" disabled>
          <input type="text" placeholder="Stadt" [(ngModel)]="data.contactData.city" disabled>
          <input type="text" placeholder="Land" [(ngModel)]="data.contactData.country" disabled>
        </div>
      </div>

      <div *ngFor="let g of data.resources; let gIndex = index">
        <div *ngIf="g.type === 'personnel'" class="form-block">
          <div class="form-block__select">
            <label>
              Qualifikation
            </label>
            <select [(ngModel)]="g.qualification" disabled>
              <option value="ta">TA</option>
              <option value="labAssistant">Laborant</option>
              <option value="postdoc">Postdoc</option>
              <option value="phd">PhD-Student</option>
              <option value="msc">MSc-Student</option>
              <option value="bsc">BSc-Student</option>
              <option value="other">Sonstiges (Bitte in den Anmerkungen näher spezifizieren)</option>
            </select>
          </div>
          <div class="form-block__input-field">
            <label>
              Institution
            </label>
            <input type="text" [(ngModel)]="g.institution" disabled>
          </div>
          <div class="form-block__input-field">
            <label>
              Forschungsgruppe
            </label>
            <input type="text" [(ngModel)]="g.researchGroup" disabled>
          </div>
          <div class="form-block__select">
            <label>
              Bereich
            </label>
            <select [(ngModel)]="g.area" disabled>
              <option value="chemistry">Chemie</option>
              <option value="biochemistry">Biochemie</option>
              <option value="genetics">Genetik</option>
              <option value="cellbiology">Zellbiologie</option>
              <option value="biology">Biologie</option>
              <option value="virology">Virologie</option>
              <option value="microbiology">Mikrobiologie</option>
              <option value="molecularbiology">Molekularbiologie</option>
              <option value="pharmacology">Pharmakologie</option>
              <option value="medicine">Medizin</option>
              <option value="others">Sonstiges (Bitte in den Anmerkungen näher spezifizieren)</option>
            </select>
          </div>
          <div class="form-block__boxes">
            <div>Haben Sie Erfahrung in der Durchführung von PCR und Real-Time PCR?</div>
            <label>
              Ja
              <input name="experienceWithPCR{{gIndex}}" type="radio" (click)="g.experienceWithPCR = true;" disabled/>
            </label>
            <label>
              Nein
              <!-- The last "true" ist required because otherwise, the selection will be blocked.... -->
              <input name="experienceWithPCR{{gIndex}}" type="radio" (click)="g.experienceWithPCR = false; true" disabled/>
            </label>
          </div>
          <div class="form-block__input-field">
            <label>
              Anmerkungen (z.B. S1 oder S2-Unterweisung vorhanden, medizinische Qualifikation zur Abstrichentnahme vorhanden)
            </label>
            <textarea [(ngModel)]="g.notes" disabled></textarea>
          </div>
          <div>
            <input type="checkbox" disabled>
            <label> Hiermit wird bestätigt, dass der Helfer die Tätigkeit ehrenamtlich außerhalb der Arbeitszeiten ausführt.</label>
          </div>
        </div>

        <div *ngIf="g.type === 'device'" class="form-block">
          <div class="form-block__select">
            <label>
              Kategorie
            </label>
            <select [(ngModel)]="g.category" disabled>
              <option value="pcr-cycler">PCR Thermocycler</option>
              <option value="rt-pcr-cycler">Real-Time PCR Thermocycler</option>
              <option value="zentrifuge">Zentrifuge</option>
              <option value="vortexer">Vortexer</option>
              <option value="pipette">Pipette</option>
              <option value="others">Sonstiges</option>
            </select>
          </div>

          <div class="form-block__input-field">
            <label>
              Exakte Materialbezeichnung
            </label>
            <input type="text" [(ngModel)]="g.deviceName" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Hersteller
            </label>
            <input type="text" [(ngModel)]="g.manufacturer" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Bestell- oder Seriennummer
            </label>
            <input type="text" [(ngModel)]="g.ordernumber" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Postleitzahl des Standortes
            </label>
            <input type="text" [(ngModel)]="g.locationPostalCode" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Vorhandene Menge
            </label>
            <div>
              <input type="number" [(ngModel)]="g.number" disabled>
              <div>
                <select [(ngModel)]="g.unit" disabled>
                  <option value="">Einheit auswählen</option>
                  <option value="item">Stück</option>
                  <option value="pack">Packung</option>
                  <option value="other">Sonstiges</option>
                </select>
                <input
                  *ngIf="g.unit === 'other'"
                  [(ngModel)]="g.unitSelfDefined"
                  type="text"
                  placeholder="Bitte die Einheit spezifizieren."
                  style="width: 200px; margin-left: 20px;"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="form-block__input-field">
            <label>
              Anmerkungen
            </label>
            <textarea [(ngModel)]="g.notes" disabled></textarea>
          </div>
        </div>

        <div *ngIf="g.type === 'consumable'" class="form-block">
          <div class="form-block__select">
            <label>
              Kategorie
            </label>
            <select [(ngModel)]="g.category" disabled>
              <option value="maske">Maske</option>
              <option value="schutzkleidung">Schutzkleidung</option>
              <option value="schutzbrille">Schutzbrille</option>
              <option value="desinfektionsmittel">Desinfektionsmittel</option>
              <option value="handschuhe">Handschuhe</option>
              <option value="reaktionsgefaeße">Reaktionsgefäße</option>
              <option value="readoutplates">Readoutplates</option>
              <option value="sonstiges">Sonstiges</option>
            </select>
          </div>

          <div class="form-block__input-field">
            <label>
              Exakte Materialbezeichnung
            </label>
            <input type="text" [(ngModel)]="g.deviceName" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Hersteller
            </label>
            <input type="text" [(ngModel)]="g.manufacturer" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Bestell- oder Seriennummer
            </label>
            <input type="text" [(ngModel)]="g.ordernumber" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Postleitzahl des Standortes
            </label>
            <input type="text" [(ngModel)]="g.locationPostalCode" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Vorhandene Menge
            </label>
            <div>
              <input type="number" [(ngModel)]="g.number" disabled>
              <div>
                <select [(ngModel)]="g.unit" disabled>
                  <option value="">Einheit auswählen</option>
                  <option value="item">Stück</option>
                  <option value="pack">Packung</option>
                  <option value="other">Sonstiges</option>
                </select>
                <input
                  *ngIf="g.unit === 'other'"
                  [(ngModel)]="g.unitSelfDefined"
                  type="text"
                  placeholder="Bitte die Einheit spezifizieren."
                  style="width: 300px; margin-left: 20px;"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="form-block__input-field">
            <label>
              Anmerkungen
            </label>
            <textarea [(ngModel)]="g.notes" disabled></textarea>
          </div>
        </div>
      </div>

      <div class="button-bar">
        <button class="button" (click)="onSubmit()">Angebot löschen!</button>
      </div>

    </div>
  </div>
</main>
