<div class="page-head">
  <div class="container">
    <h2 class="page-title">Angebot Übersicht</h2>
  </div>
</div>

<main class="main-content" *ngIf="data">
  <div class="fullwidth-block">
    <div class="container">

      <div *ngIf="isNew" class="info-box">
        Das Angebot wurde erfasst. Auf dieser Seite können Sie Ihre Daten einsehen. Eine Bestätigung
        wurde Ihnen auch per Email zugeschickt.
      </div>

      <div class="current-url">
        <div>
          Mit diesem Link kommen Sie auf diese Seite, um Ihr Angebot einsehen zu können. Bitte bewahren Sie ihn auf.
          <br>
          Bitte kontaktieren Sie uns via Email mit Angabe dieses Links um ihr Angebot zu löschen!
        </div>
        <div class="form-block__input-field">
          <input type="text" [value]="currentUrl" disabled/>
        </div>
      </div>

      <div class="form-block">
        <div class="form-block__label">
          Kontaktdaten
        </div>
        <div class="form-block__input-field">
          <label>
            Institution
          </label>
          <input type="text" [(ngModel)]="data.provider.institution" disabled>
        </div>

        <div class="form-block__input-field">
          <label>
            Verantwortliche Person
          </label>
          <input type="text" [(ngModel)]="data.provider.name" disabled>
        </div>

        <div class="form-block__input-field">
          <label>
            E-Mail Adresse
          </label>
          <input type="text" [(ngModel)]="data.provider.mail" disabled>
        </div>

        <div class="form-block__input-field">
          <label>
            Telefonnummer
          </label>
          <input type="text" [(ngModel)]="data.provider.phone" disabled>
        </div>

        <div class="form-block__input-field">
          <label>
            Adresse
          </label>
          <br>
          <input type="text" placeholder="Straße" [(ngModel)]="data.provider.address.street" disabled>
          <input type="text" placeholder="Hausnummer" [(ngModel)]="data.provider.address.streetNumber" disabled>
          <input type="text" placeholder="PLZ" [(ngModel)]="data.provider.address.postalCode" disabled>
          <input type="text" placeholder="Stadt" [(ngModel)]="data.provider.address.city" disabled>
          <input type="text" placeholder="Land" [(ngModel)]="data.provider.address.country" disabled>
        </div>
      </div>

      <div *ngFor="let r of data.resources; let gIndex = index">
        <div *ngIf="r.type === 'personnel'" class="form-block">
          <div class="form-block__select">
            <label>
              Qualifikation
            </label>
            <select [(ngModel)]="toP(r).qualification" disabled>
              <option value="ta">TA</option>
              <option value="labAssistant">Laborant</option>
              <option value="postdoc">Postdoc</option>
              <option value="phd">PhD-Student</option>
              <option value="msc">MSc-Student</option>
              <option value="bsc">BSc-Student</option>
              <option value="other">Sonstiges (Bitte in den Anmerkungen näher spezifizieren)</option>
            </select>
          </div>
          <div class="form-block__input-field">
            <label>
              Institution
            </label>
            <input type="text" [(ngModel)]="toP(r).institution" disabled>
          </div>
          <div class="form-block__input-field">
            <label>
              Forschungsgruppe
            </label>
            <input type="text" [(ngModel)]="toP(r).researchGroup" disabled>
          </div>
          <div class="form-block__select">
            <label>
              Bereich
            </label>
            <select [(ngModel)]="toP(r).area" disabled>
              <option value="chemistry">Chemie</option>
              <option value="biochemistry">Biochemie</option>
              <option value="genetics">Genetik</option>
              <option value="cellbiology">Zellbiologie</option>
              <option value="biology">Biologie</option>
              <option value="virology">Virologie</option>
              <option value="microbiology">Mikrobiologie</option>
              <option value="molecularbiology">Molekularbiologie</option>
              <option value="pharmacology">Pharmakologie</option>
              <option value="medicine">Medizin</option>
              <option value="others">Sonstiges (Bitte in den Anmerkungen näher spezifizieren)</option>
            </select>
          </div>
          <div class="form-block__boxes">
            <div>Haben Sie Erfahrung in der Durchführung von PCR und Real-Time PCR?</div>
            <label>
              Ja
              <input name="experienceWithPCR{{gIndex}}" type="radio" [checked]="toP(r).experienceWithPCR" disabled/>
            </label>
            <label>
              Nein
              <input name="experienceWithPCR{{gIndex}}" type="radio" [checked]="!toP(r).experienceWithPCR" disabled/>
            </label>
          </div>
          <div class="form-block__input-field">
            <label>
              Anmerkungen (z.B. S1 oder S2-Unterweisung vorhanden, medizinische Qualifikation zur Abstrichentnahme vorhanden)
            </label>
            <textarea [(ngModel)]="toP(r).notes" disabled></textarea>
          </div>
          <div>
            <input type="checkbox" checked disabled>
            <label> Hiermit wird bestätigt, dass der Helfer die Tätigkeit ehrenamtlich außerhalb der Arbeitszeiten ausführt.</label>
          </div>
        </div>

        <div *ngIf="r.type === 'device'" class="form-block">
          <div class="form-block__select">
            <label>
              Kategorie
            </label>
            <select [(ngModel)]="toD(r).category" disabled>
              <option value="pcr-cycler">PCR Thermocycler</option>
              <option value="rt-pcr-cycler">Real-Time PCR Thermocycler</option>
              <option value="zentrifuge">Zentrifuge</option>
              <option value="vortexer">Vortexer</option>
              <option value="pipette">Pipette</option>
              <option value="others">Sonstiges</option>
            </select>
          </div>

          <div class="form-block__input-field">
            <label>
              Exakte Materialbezeichnung
            </label>
            <input type="text" [(ngModel)]="toD(r).name" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Hersteller
            </label>
            <input type="text" [(ngModel)]="toD(r).manufacturer" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Bestell- oder Seriennummer
            </label>
            <input type="text" [(ngModel)]="toD(r).orderNumber" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Postleitzahl des Standortes
            </label>
            <input type="text" [(ngModel)]="toD(r).address.postalCode" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Vorhandene Menge
            </label>
            <div>
              <input type="number" [(ngModel)]="toD(r).amount" disabled>
            </div>
          </div>
          <div class="form-block__input-field">
            <label>
              Anmerkungen
            </label>
            <textarea [(ngModel)]="toD(r).notes" disabled></textarea>
          </div>
        </div>

        <div *ngIf="r.type === 'consumable'" class="form-block">
          <div class="form-block__select">
            <label>
              Kategorie
            </label>
            <select [(ngModel)]="toC(r).category" disabled>
              <option value="maske">Maske</option>
              <option value="schutzkleidung">Schutzkleidung</option>
              <option value="schutzbrille">Schutzbrille</option>
              <option value="desinfektionsmittel">Desinfektionsmittel</option>
              <option value="handschuhe">Handschuhe</option>
              <option value="reaktionsgefaeße">Reaktionsgefäße</option>
              <option value="readoutplates">Readoutplates</option>
              <option value="sonstiges">Sonstiges</option>
            </select>
          </div>

          <div class="form-block__input-field">
            <label>
              Exakte Materialbezeichnung
            </label>
            <input type="text" [(ngModel)]="toC(r).name" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Hersteller
            </label>
            <input type="text" [(ngModel)]="toC(r).manufacturer" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Bestell- oder Seriennummer
            </label>
            <input type="text" [(ngModel)]="toC(r).orderNumber" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Postleitzahl des Standortes
            </label>
            <input type="text" [(ngModel)]="toC(r).address.postalCode" disabled>
          </div>

          <div class="form-block__input-field">
            <label>
              Vorhandene Menge
            </label>
            <div>
              <input type="number" [(ngModel)]="toC(r).amount" disabled>
              <div>
                <input
                  [(ngModel)]="toC(r).unit"
                  type="text"
                  style="width: 300px; margin-left: 20px;"
                  disabled
                />
              </div>
            </div>
          </div>
          <div class="form-block__input-field">
            <label>
              Anmerkungen
            </label>
            <textarea [(ngModel)]="toC(r).notes" disabled></textarea>
          </div>
        </div>
      </div>


    </div>
  </div>
</main>
