.info-box {
  margin: 20px;
  padding: 20px;
  border: 1px solid #8e9ca5;
  border-radius: 5px;
  background-color: #c9e4e8;
}


.current-url {
  margin-bottom: 30px;
}


.value-field {
  padding: 5px;
  border: 1px solid #8e9ca5;
}
