<div *ngIf="r.type === 'personnel'" class="form-block">
  <div class="form-block__label"><button (click)="deleteItem()">🗑️</button> <ng-container i18n="@@helper">Helfer</ng-container></div>
  <div class="form-block__select">
    <label>
      <span i18n="@@qualification">Qualifikation</span>
    </label>
    <select [(ngModel)]="toP(r).qualification">
      <option *ngFor="let qualification of getEnumValues(PersonnelQualification)" [value]="qualification">
        {{ personnelQualificationToDE[qualification] }}
      </option>
    </select>
    <span *ngIf="!toP(r).qualification" class="form-alert" i18n="@@requiredField">
        Pflichtangabe
      </span>
  </div>
  <div class="form-block__input-field">
    <input type="text" placeholder="Institution" i18n-placeholder="@@institution" [(ngModel)]="toP(r).institution">
    <span class="input-field-focus"></span>
    <span *ngIf="!toP(r).institution" class="form-alert" i18n="@@requiredField">
        Pflichtangabe
      </span>
  </div>
  <div class="form-block__input-field">
    <input type="text" placeholder="Forschungsgruppe" i18n-placeholder="@@researchGroup"  [(ngModel)]="toP(r).researchGroup">
    <span class="input-field-focus"></span>
  </div>
  <div class="form-block__select">
    <label>
      <span i18n="@@area">Bereich</span>
    </label>
    <select [(ngModel)]="toP(r).area">
      <option *ngFor="let area of getEnumValues(PersonnelArea)" [value]="area">
        {{ personnelAreaToDE[area] }}
      </option>
    </select>
    <span *ngIf="!toP(r).area" class="form-alert" i18n="@@requiredField">
        Pflichtangabe
      </span>
  </div>
  <div class="form-block__boxes">
    <div i18n="@@_questionExperienceWithPCR">Haben Sie Erfahrung in der Durchführung von PCR und Real-Time PCR?</div>
    <label>
      <span i18n="@@yes">Ja</span>
      <input name="experienceWithPCR" type="radio" (click)="toP(r).experienceWithPCR = true;" />
    </label>
    <label>
      <span i18n="@@no">Nein</span>
      <!-- The last "true" ist required because otherwise, the selection will be blocked.... -->
      <input name="experienceWithPCR" type="radio" checked (click)="toP(r).experienceWithPCR = false; true" />
    </label>
  </div>
  <div class="form-block__input-field">
    <input type="text" placeholder="Postleitzahl des Standorte" i18n-placeholder="@@postalCodeOfLocation" [(ngModel)]="toP(r).address.postalCode">
    <span class="input-field-focus"></span>
    <span *ngIf="!toP(r).address.postalCode" class="form-alert" i18n="@@requiredField">
        Pflichtangabe
      </span>
  </div>
  <div class="form-block__input-field">
    <label i18n="@@comments_s1s">
      Anmerkungen (z.B. S1 oder S2-Unterweisung vorhanden, medizinische Qualifikation zur Abstrichentnahme vorhanden)
    </label>
    <textarea [(ngModel)]="toP(r).notes"></textarea>
    <span class="input-field-focus"></span>
  </div>
  <div>
    <input [(ngModel)]="r.checkedEhrenamt" type="checkbox">
    <label>
      <span i18n="@@_declarationVoluntaryWork">
         Hiermit wird bestätigt, dass der Helfer die Tätigkeit ehrenamtlich außerhalb der Arbeitszeiten ausführen wird.
      </span>
      <span *ngIf="!r.checkedEhrenamt" class="form-alert" i18n="@@requiredField">
        Pflichtangabe
      </span>
    </label>
  </div>
</div>


<div *ngIf="r.type === 'device'" class="form-block">
  <div class="form-block__label"><button (click)="deleteItem()">🗑️</button> <ng-container i18n="@@device">Gerät</ng-container></div>
  <div class="form-block__select">
    <label>
      <span i18n="@@category">Kategorie</span>
    </label>
    <select [(ngModel)]="toD(r).category">
      <option *ngFor="let category of getEnumValues(DeviceCategory)" [value]="category">
        {{ deviceCategoryToDE[category] }}
      </option>
    </select>
    <span *ngIf="!toD(r).category" class="form-alert" i18n="@@requiredField">
      Pflichtangabe
    </span>
  </div>

  <div class="form-block__input-field">
    <input type="text" placeholder="Exakte Materialbezeichnung" i18n-placeholder="@@exactName" [(ngModel)]="toD(r).name">
    <span class="input-field-focus"></span>
    <span *ngIf="!toD(r).name" class="form-alert" i18n="@@requiredField">
      Pflichtangabe
    </span>
  </div>

  <div class="form-block__input-field">
    <input type="text" placeholder="Hersteller" i18n-placeholder="@@manufacturer" [(ngModel)]="toD(r).manufacturer">
    <span class="input-field-focus"></span>
  </div>

  <div class="form-block__input-field">
    <input type="text" placeholder="Bestell- oder Seriennummer" i18n-placeholder="@@orderOrSerialNumber" [(ngModel)]="toD(r).orderNumber">
    <span class="input-field-focus"></span>
  </div>

  <div class="form-block__input-field">
    <input type="text" placeholder="Postleitzahl das Standortes" i18n-placeholder="@@postalCodeOfLocation" [(ngModel)]="toD(r).address.postalCode">
    <span class="input-field-focus"></span>
    <span *ngIf="!toD(r).address.postalCode" class="form-alert" i18n="@@requiredField">
      Pflichtangabe
    </span>
  </div>

  <div class="form-block__input-field">
    <input type="number" placeholder="Menge" i18n-placeholder="@@amount" [(ngModel)]="toD(r).amount">
    <span class="input-field-focus"></span>
    <span *ngIf="!toD(r).amount" class="form-alert" i18n="@@requiredField">
      Pflichtangabe
    </span>
  </div>
  <div class="form-block__input-field">
    <label i18n="comments">
      Anmerkungen
    </label>
    <textarea [(ngModel)]="toD(r).notes"></textarea>
    <span class="input-field-focus"></span>
  </div>
</div>


<div *ngIf="r.type === 'consumable'" class="form-block">
  <div class="form-block__label"><button (click)="deleteItem()">🗑️</button> <ng-container i18n="@@consumable">Verbrauchsmaterial</ng-container></div>
  <div class="form-block__select">
    <label>
      <span i18n="@@category">Kategorie</span>
    </label>
    <select [(ngModel)]="toC(r).category">
      <option *ngFor="let category of getEnumValues(ConsumableCategory)" [value]="category">
        {{ consumableCategoryTo[category] }}
      </option>
    </select>
    <span *ngIf="!toC(r).category" class="form-alert" i18n="@@requiredField">
      Pflichtangabe
    </span>
  </div>

  <div class="form-block__input-field">
    <input type="text" placeholder="Exakte Materialbezeichnung" i18n-placeholder="@@exactName" [(ngModel)]="toC(r).name">
    <span class="input-field-focus"></span>
    <span *ngIf="!toC(r).name" class="form-alert" i18n="@@requiredField">
      Pflichtangabe
    </span>
  </div>

  <div class="form-block__input-field">
    <input type="text" placeholder="Hersteller" i18n-placeholder="@@manufacturer" [(ngModel)]="toC(r).manufacturer">
    <span class="input-field-focus"></span>
  </div>

  <div class="form-block__input-field">
    <input type="text" placeholder="Bestell- oder Seriennummer" i18n-placeholder="@@orderOrSerialNumber" [(ngModel)]="toC(r).orderNumber">
    <span class="input-field-focus"></span>
  </div>

  <div class="form-block__input-field">
    <input type="text" placeholder="Postleitzahl des Standortes" i18n-placeholder="@@postalCodeOfLocation" [(ngModel)]="toC(r).address.postalCode">
    <span class="input-field-focus"></span>
    <span *ngIf="!toC(r).address.postalCode" class="form-alert" i18n="@@requiredField">
      Pflichtangabe
    </span>
  </div>

  <div class="form-block__input-field">
    <input type="number" placeholder="Menge" i18n-placeholder="@@amount" [(ngModel)]="toC(r).amount">
    <span class="input-field-focus"></span>
    <span *ngIf="!toC(r).amount" class="form-alert" i18n="@@requiredField">
      Pflichtangabe
    </span>
  </div>
  <div class="form-block__select">
    <select [(ngModel)]="toC(r).unit">
      <option value="" i18n="@@selectUnit">Einheit auswählen</option>
      <option value="Stück" i18n="@@piece">Stück</option>
      <option value="Packung" i18n="@@pack">Packung</option>
      <option value="Sonstiges" i18n="@@_othersMoreInComments">Sonstiges (Bitte in den Anmerkungen spezifizieren)</option>
    </select>
    <span *ngIf="!toC(r).unit" class="form-alert" i18n="@@requiredField">
          Pflichtangabe
        </span>
  </div>
  <div class="form-block__input-field">
    <label i18n="@@comments">
      Anmerkungen
    </label>
    <textarea [(ngModel)]="toC(r).notes"></textarea>
    <span class="input-field-focus"></span>
  </div>
</div>
