<div *ngIf="r.type === 'personnel'" class="form-block">
  <div class="form-block__label"><button (click)="deleteItem()">🗑️</button> Helfer</div>
  <div class="form-block__select">
    <label>
      Qualifikation
      <span *ngIf="!toP(r).qualification" class="form-alert">
        Pflichtangabe
      </span>
    </label>
    <select [(ngModel)]="toP(r).qualification">
      <option *ngFor="let qualification of getEnumValues(PersonnelQualification)" [value]="qualification">
        {{ personnelQualificationToDE[qualification] }}
      </option>
    </select>
  </div>
  <div class="form-block__input-field">
    <label>
      Institution
      <span *ngIf="!toP(r).institution" class="form-alert">
        Pflichtangabe
      </span>
    </label>
    <input type="text" [(ngModel)]="toP(r).institution">
  </div>
  <div class="form-block__input-field">
    <label>
      Forschungsgruppe
    </label>
    <input type="text" [(ngModel)]="toP(r).researchGroup">
  </div>
  <div class="form-block__select">
    <label>
      Bereich
      <span *ngIf="!toP(r).area" class="form-alert">
        Pflichtangabe
      </span>
    </label>
    <select [(ngModel)]="toP(r).area">
      <option *ngFor="let area of getEnumValues(PersonnelArea)" [value]="area">
        {{ personnelAreaToDE[area] }}
      </option>
    </select>
  </div>
  <div class="form-block__boxes">
    <div>Haben Sie Erfahrung in der Durchführung von PCR und Real-Time PCR?</div>
    <label>
      Ja
      <input name="experienceWithPCR" type="radio" (click)="toP(r).experienceWithPCR = true;" />
    </label>
    <label>
      Nein
      <!-- The last "true" ist required because otherwise, the selection will be blocked.... -->
      <input name="experienceWithPCR" type="radio" checked (click)="toP(r).experienceWithPCR = false; true" />
    </label>
  </div>
  <div class="form-block__input-field">
    <label>
      Postleitzahl des Standortes
      <span *ngIf="!toP(r).address.postalCode" class="form-alert">
        Pflichtangabe
      </span>
    </label>
    <input type="text" [(ngModel)]="toP(r).address.postalCode">
  </div>
  <div class="form-block__input-field">
    <label>
      Anmerkungen (z.B. S1 oder S2-Unterweisung vorhanden, medizinische Qualifikation zur Abstrichentnahme vorhanden)
    </label>
    <textarea [(ngModel)]="toP(r).notes"></textarea>
  </div>
  <div>
    <input [(ngModel)]="r.checkedEhrenamt" type="checkbox">
    <label> Hiermit wird bestätigt, dass der Helfer die Tätigkeit ehrenamtlich außerhalb der Arbeitszeiten ausführen wird.
      <span *ngIf="!r.checkedEhrenamt" class="form-alert">
        Pflichtangabe
      </span>
    </label>
  </div>
</div>


<div *ngIf="r.type === 'device'" class="form-block">
  <div class="form-block__label"><button (click)="deleteItem()">🗑️</button> Gerät</div>
  <div class="form-block__select">
    <label>
      Kategorie
      <span *ngIf="!toD(r).category" class="form-alert">
        Pflichtangabe
      </span>
    </label>
    <select [(ngModel)]="toD(r).category">
      <option *ngFor="let category of getEnumValues(DeviceCategory)" [value]="category">
        {{ deviceCategoryToDE[category] }}
      </option>
    </select>
  </div>

  <div class="form-block__input-field">
    <label>
      Exakte Materialbezeichnung
      <span *ngIf="!toD(r).name" class="form-alert">
        Pflichtangabe
      </span>
    </label>
    <input type="text" [(ngModel)]="toD(r).name">
  </div>

  <div class="form-block__input-field">
    <label>
      Hersteller
    </label>
    <input type="text" [(ngModel)]="toD(r).manufacturer">
  </div>

  <div class="form-block__input-field">
    <label>
      Bestell- oder Seriennummer
    </label>
    <input type="text" [(ngModel)]="toD(r).orderNumber">
  </div>

  <div class="form-block__input-field">
    <label>
      Postleitzahl des Standortes
      <span *ngIf="!toD(r).address.postalCode" class="form-alert">
        Pflichtangabe
      </span>
    </label>
    <input type="text" [(ngModel)]="toD(r).address.postalCode">
  </div>

  <div class="form-block__input-field">
    <label>
      Vorhandene Menge
      <span *ngIf="!toD(r).amount" class="form-alert">
        Pflichtangabe
      </span>
    </label>
    <div>
      <input type="number" [(ngModel)]="toD(r).amount">
    </div>
  </div>
  <div class="form-block__input-field">
    <label>
      Anmerkungen
    </label>
    <textarea [(ngModel)]="toD(r).notes"></textarea>
  </div>
</div>


<div *ngIf="r.type === 'consumable'" class="form-block">
  <div class="form-block__label"><button (click)="deleteItem()">🗑️</button> Verbrauchsmaterial</div>
  <div class="form-block__select">
    <label>
      Kategorie
      <span *ngIf="!toC(r).category" class="form-alert">
        Pflichtangabe
      </span>
    </label>
    <select [(ngModel)]="toC(r).category">
      <option *ngFor="let category of getEnumValues(ConsumableCategory)" [value]="category">
        {{ consumableCategoryToDE[category] }}
      </option>
    </select>
  </div>

  <div class="form-block__input-field">
    <label>
      Exakte Materialbezeichnung
      <span *ngIf="!toC(r).name" class="form-alert">
        Pflichtangabe
      </span>
    </label>
    <input type="text" [(ngModel)]="toC(r).name">
  </div>

  <div class="form-block__input-field">
    <label>
      Hersteller
    </label>
    <input type="text" [(ngModel)]="toC(r).manufacturer">
  </div>

  <div class="form-block__input-field">
    <label>
      Bestell- oder Seriennummer
    </label>
    <input type="text" [(ngModel)]="toC(r).orderNumber">
  </div>

  <div class="form-block__input-field">
    <label>
      Postleitzahl des Standortes
      <span *ngIf="!toC(r).address.postalCode" class="form-alert">
        Pflichtangabe
      </span>
    </label>
    <input type="text" [(ngModel)]="toC(r).address.postalCode">
  </div>

  <div class="form-block__input-field">
    <label>
      Vorhandene Menge
      <span *ngIf="!toC(r).amount" class="form-alert">
        Pflichtangabe
      </span>
    </label>
    <div>
      <input type="number" [(ngModel)]="toC(r).amount">
      <div>
        <select (change)="unitSelected(r, $event)">
          <option value="">Einheit auswählen</option>
          <option value="Stück">Stück</option>
          <option value="Packung">Packung</option>
          <option value="other">Sonstiges</option>
        </select>
        <span *ngIf="!toC(r).unit" class="form-alert">
          Pflichtangabe
        </span>
        <input
          *ngIf="toC(r).unit !== '' && toC(r).unit !== 'Stück' && toC(r).unit !== 'Packung'"
          (change)="unitSelfDefined(r, $event)"
          type="text"
          placeholder="Bitte die Einheit spezifizieren."
          style="width: 300px; margin-left: 20px;"
        />
      </div>
    </div>
  </div>
  <div class="form-block__input-field">
    <label>
      Anmerkungen
    </label>
    <textarea [(ngModel)]="toC(r).notes"></textarea>
  </div>
</div>
