<div class="page-head" >
  <div class="container">
    <h2 class="page-title" i18n="@@searchResource">Suchanfrage stellen</h2>
  </div>
</div>

<main class="main-content"><div class="fullwidth-block"><div class="container">


<div class="button-bar">
  <button
    (click)="setType('personnel')"
    class="button {{ searchType === 'personnel' ? 'active' : '' }}"
    i18n="@@searchPersonal"
  >Suche nach Personal</button>
  <button
    (click)="setType('device')"
    class="button {{ searchType === 'device' ? 'active' : '' }}"
    i18n="@@searchDevice"
  >Suche nach Gerät</button>
  <button
    (click)="setType('consumable')"
    class="button {{ searchType === 'consumable' ? 'active' : '' }}"
    i18n="@@searchConsumable"
  >Suche nach Verbrauchsmaterial</button>
</div>

<div *ngIf="searchType" class="search-form-container">
  <div *ngIf="searchType === 'personnel'">
    <div class="form-block">
      <div class="form-block__label">Qualifikation</div>
      <div class="form-block__boxes">
        <label *ngFor="let qualification of getEnumValues(PersonnelQualification)">
          {{ personnelQualificationToDE[qualification] }}
          <input
            type="checkbox"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="searchQuery.qualification[qualification]"
          />
        </label>
      </div>
    </div>

    <div class="form-block">
      <div class="form-block__label">Bereich</div>
      <div class="form-block__boxes">
        <label *ngFor="let area of getEnumValues(PersonnelArea)">
          {{ personnelAreaToDE[area] }}
          <input
            type="checkbox"
            [ngModelOptions]="{standalone: true}"
            [(ngModel)]="searchQuery.area[area]"
          />
        </label>
      </div>
    </div>
    <div class="form-block">
      <div class="form-block__label" i18n="@@_isExperienceWithPCRRequired">
        Wird Erfahrung in der Durchführung von PCR und Real-Time PCR vorausgesetzt?
      </div>
      <div class="form-block__boxes">
        <label>
          <span i18n="@@yes">Ja</span>
          <input name="requiresExperienceWithPCR" type="radio" (click)="setRequiresExperienceWithPCR(true)" />
        </label>
        <label>
          <span i18n="@@no">Nein</span>
          <input name="requiresExperienceWithPCR" type="radio" (click)="setRequiresExperienceWithPCR(false)" />
        </label>
      </div>
    </div>
  </div>

  <div *ngIf="searchType === 'device'">
    <div class="form-block">
      <div class="form-block__label" i18n="@@typ">
        Typ
      </div>
      <div class="form-block__select">
        <select [(ngModel)]="searchQuery.category">
          <option *ngFor="let category of getEnumValues(DeviceCategory)" [value]="category">
            {{ deviceCategoryToDE[category] }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div *ngIf="searchType === 'consumable'">
    <div class="form-block">
    <div class="form-block__label" i18n="@@typ">
      Typ
    </div>
    <div class="form-block__select">
      <select name="offering" [(ngModel)]="searchQuery.category">
        <option *ngFor="let category of getEnumValues(ConsumableCategory)" [value]="category">
          {{ consumableCategoryToDE[category] }}
        </option>
      </select>
    </div>
    </div>
  </div>

  <div class="form-block">
    <div class="form-block__label" i18n="@@postalCodeOfLocation">
      Postleitzahl des Standortes
    </div>
    <div class="form-block__input-field">
      <input type="text" [(ngModel)]="postalCode" />
    </div>
  </div>

  <div class="form-alert" *ngIf="error?.message === '1000:InvalidAddress'" i18n="@@_pleaseCheckAddress">
    Bitte prüfen Sie die eingegebenen Adressen.
  </div>
  <div class="form-alert" *ngIf="isUnexpectedError(error)" i18n="@@_pleaseCheckInput">
    Bitte prüfen Sie Ihre Eingaben.
  </div>

  <div class="submit-button">
    <button (click)="onSubmit()" class="button" [disabled]="!isValid()" i18n="@@doSearch">Suchen</button>
  </div>
</div>


<app-offer-search-result-list
  *ngIf="results"
  [type]="searchType"
  [searchResults]="results"
></app-offer-search-result-list>

</div></div></main>
