<div class="page-head" >
    <div class="container">
        <h2 class="page-title">PIRAT: Pandemic Important Resource Allocation Tool</h2>

        <p><small>Erfassung und effiziente Verteilung von notwendigen Ressourcen in Ausnahmesituation</small></p>

        <button class="button" routerLink="/angebote/neu">Angebot einstellen</button>
        <button class="button" routerLink="/suchanfrage">Suchanfrage</button>
    </div>
</div>

<main class="main-content">

    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="section-title">Research to diagnostics!</h2>
                    <p>PIRAT sorgt dafür, dass personelle und materielle Resourcen aus Forschungslaboren, die momentan brachliegen, für die Corona-Diagnostik genutzt werden.</p>
                    <p>Damit schneller mehr Tests durchgeführt werden und niemand mehr tagelang warten muss, um getestet zu werden. </p>
                    <p>Lassen Sie uns gemeinsam Corona unter Kontrolle bekommen!</p>
                </div>
            </div>
        </div>
    </div>





        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h2 class="section-title">Unsere Mission</h2>
                        <p>PIRAT (Pandemic Important Resource Allocation Tool) ist ein Tool für die Erfassung und effiziente Verteilung von notwendigen Ressourcen in Ausnahmesituation wie z.B. einer Pandemie.</p>
                        <p>Wir wollen die Erfassung und Verteilung von notwendigen medizinischen Hilfsmitteln, aber auch Manpower, verbessern. Viele Labore an Universitäten sind gut ausgestattet, um diagnostische Corona-Tests durchzuführen, es fehlt hier allerdings die Berechtigung, diese Tests durchzuführen, sodass keine Patientenproben analysiert werden können. Offizielle Testlabore bräuchten die Ausstattung dieser Unilabore, da die Nachfrage an Corona-Tests ihre Kapazitäten übersteigt, aber diesen Austausch gibt es bisher nicht.</p>
                        <p>Weiterhin könnte man auch schon bei der Abstrichentnahme und dem Transport der Proben zu den Corona-Testlaboren ansetzen und hier mit zusätzlicher Manpower, die von den Universitäten akquiriert wird, dafür sorgen, dass Verdachtsfälle rasch getestet werden können. Hier ist enge Zusammenarbeit mit den Gesundheitsämtern vorgesehen.</p>
                        <p>Es fehlt also wie beschrieben momentan (u.a.) an Manpower und Gerätekapazitäten, um genügend Corona-Tests durchzuführen, dies könnte man wesentlich verbessern, wenn man die z.B. an den Unis vorhandene Ausstattung nutzen würde, die momentan brachliegt und zusätzlich auch die Manpower der PhD Studenten, Laboranten und weiterer qualifizierter Helfer einsetzt, die aktuell im Homeoffice arbeiten und stattdessen auch mit ihrer fachlichen Expertise bei der Vorbereitung und Durchführung Corona-Tests helfen könnten. Das Tool ist selbstverständlich auch erweiterbar auf sonstige Verbrauchsmaterialien, die an Krankenhäusern und im Rettungsdienst momentan Mangelware sind (z.B. Handschuhe, Masken, Schutzbrillen, Desinfektionsmittel, erste Versuche von Spenden von Universitäten an Krankenhäuser laufen hier derzeit sehr unkoordiniert ab) und weitere Manpower im Sinne von Krankenhaus- oder Rettungsdienstpersonal.</p>
                        <p>Zusammenfassend herrscht aktuell das Problem vor, dass Ressourcen vorhanden wären, die an anderer Stelle gebraucht würden, aber kein Austausch zwischen den entsprechenden Stellen stattfindet. Diese Situation wird durch unser Tool erheblich verbessert.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="fullwidth-block" data-bg-color="#edf2f4">
            <div class="container">
                <h2 class="section-title">Neuigkeiten!</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="post">
                            <!-- <figure class="featured-image"><img src="assets/images/news-1.jpg" alt=""></figure> -->
                            <h2 class="entry-title"><a href="">Wir gehen online!</a></h2>
                            <small class="date">21 Mar 2020</small>
                            <p>Der erste Prototyp unserer Austausch-Platform steht und wir warten auf die ersten Testnutzer.</p>
                        </div>
                    </div>
                </div> <!-- .row -->
            </div> <!-- .container -->
        </div> <!-- .fullwidth-block -->
</main> <!-- .main-content -->

