<div class="page-head" >
    <div class="container">
        <h2 class="page-title">PIRAT: Pandemic Important Resource Allocation Tool</h2>

        <p><small>Erfassung und effiziente Verteilung von notwendigen Ressourcen in Ausnahmesituation</small></p>

        <button class="button" routerLink="/angebote/neu">Angebot einstellen</button>
        <button class="button" routerLink="/suchanfrage">Suchanfrage</button>
    </div>
</div>

<main class="main-content">

    <div class="fullwidth-block">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <h2 class="section-title">PIRAT - gemeinsam auf Kurs gegen Corona!</h2>
                    <p>PIRAT sorgt dafür, dass personelle und materielle Resourcen aus Forschungslaboren, die momentan brachliegen, für die Corona-Diagnostik genutzt werden.</p>
                    <p>Damit schneller mehr Tests durchgeführt werden und niemand mehr tagelang warten muss, um getestet zu werden. </p>
                    <p>Lassen Sie uns gemeinsam Corona unter Kontrolle bekommen!</p>

                    <br/><br/>
                    <iframe
                      style="width: 100%; max-width: 600px;"
                      height="315"
                      src="https://www.youtube-nocookie.com/embed/J9Sm8-ETTP0"
                      frameborder="0"
                      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                </div>
            </div>
        </div>
        </div>

</main> <!-- .main-content -->

