.page-head .container button {
  margin-right: 20px;
  margin-bottom: 20px;
  }

.logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}


.logo {
  margin-right: 30px;
  margin-bottom: 40px;

  @media only screen and (max-width: 991px) {
    margin-right: 0;
  }
}


.logo__image {
  margin-bottom: 30px;
  img {
    max-width: 250px;
    max-height: 75px;
    margin-right: 20px;

    @media only screen and (max-width: 640px) {
      margin: 0 10px;
    }
  }
}


.logo__name {
  font-weight: bold;
  color: #69acc7;
  margin-bottom: 20px;
}

.statistics-box-stand {
  text-align: right;
}

@media only screen and (max-width: 991px) {
}



