        <div class="fullwidth-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">

<h1>Frequently Asked Questions</h1>

<h2>Allgemein</h2>

<h3>Was ist das Ziel dieser Seite?</h3>
<p>Ziel dieser Seite ist es Corona-Testlabore und Gesundheitsämter mit Einrichtungen wie Universitäten zu vernetzen, die Geräte, Verbrauchsmaterialien und auch qualifiziertes Personal zur Unterstützung bei der Durchführung von Corona-Tests zur Verfügung stellen könnten. Dabei können Universitäten ihre freien Ressourcen in unsere Datenbank eintragen und werden benachrichtigt, sobald eines der umliegenden Testlabore Ressourcen benötigt. Hierdurch können die Testkapazitäten erweitert werden, sodass Verdachtsfälle schneller getestet werden können.
</p>

<h3>Welche Geräte und Materialien werden gebraucht?</h3>

<h4>Geräte</h4>
<ul>
    <li>PCR-Thermocycler für Tests</li>
    <li>Real-Time-PCR-Thermocycler für Tests</li>
    <li>Tischzentrifugen</li>
    <li>Vortexmischer</li>
    <li>Micropipetten</li>
</ul>

<h4>Verbrauchsmaterialien</h4>
<ul>
    <li>Reaktionsgefäße für die PCR</li>
    <li>Gesichtsmasken FFP2</li>
    <li>Einmalhandschuhe</li>
    <li>Schutzbrillen</li>
    <li>Schutzanzüge</li>
    <li>Händedesinfektionsmittel</li>
    <li>Oberflächendesinfektionsmittel</li>
    <li>Instrumente für Abstriche</li>
</ul>

<h3>Was für Personal wird gebraucht?</h3>

<h4>Technisches Personal</h4>
<ul>
    <li>Labortechnische Angestellte</li>
    <li>Postdoktoranden</li>
    <li>Doktoranden</li>
    <li>Masterstudierende</li>
</ul>

<h4>Benötigte Kompetenzen</h4>
<ul>
    <li>Erfahrung in der Durchführung von PCR- und RT-PCR-Reaktionen</li>
    <li>Erfahrung in der Isolation von RNA</li>
    <li>Unterweisung für die Durchführung von Tätigkeiten der Sicherheitsstufe S1 oder S2</li>
    <li>Personal mit medizinischer Ausbildung, um Abstriche durchzuführen</li>
</ul>

<h3>Ich habe keine Erfahrung mit den genannten Methoden, will aber trotzdem helfen. Was kann ich tun?</h3>
<p>Wir suchen auch qualifizierte Freiwillige für den Transport von Proben und Verbrauchsmaterialien zu den entsprechenden Stellen zu bringen.</p>

<h2>Für Anbieter</h2>

<h3>Wie kann ich Material/Personal anbieten?</h3>

<p>Material und Personal können über unsere Webseite angeboten werden, dazu muss ein Fragebogen ausgefüllt werden, damit die Testeinrichtungen entsprechend nach den benötigten Ressourcen suchen können.</p>

<h3>Wie kann der Materialtransport ablaufen? Was passiert bei Schäden durch den Transport an meinem Gerät?</h3>

<p>Gerätetransport kann auf folgende Weisen erfolgen:</p>

<h4>Durch spezielle Unternehmen, z.B.</h4>
<ul>
    <li><a href="https://www.schindlauer.de/betriebsumzug-muenchen/umzug-labore-high-tech-muenchen.html">Schindlauer</a></li>
    <li><a href="https://www.geuer.de/laborumzug/">Geuer</a></li>
    <li><a href="https://www.hebert.de/high-tech-transport-laborumzug/">Hebert</a></li>
    <li><a href="https://www.umzugs-lauer.de/business-umzug/labor-umzug/">Lauer</a></li>
</ul>

<h4>Taxiunternehmen sind ebenfalls gegen Transportschäden versichert</h4>
<ul>
    <li><a href="https://www.daserste.de/information/politik-weltgeschehen/morgenmagazin/service/recht-im-taxi-download-100.pdf">Informationsblatt</a></li>
</ul>

<h4>Taxiunternehmen sind ebenfalls gegen Transportschäden versichert</h4>
<p> sind nach aktuellem Kenntnisstand nicht versichert und daher die schlechteste Option.
Verbrauchsmaterial kann hingegen je nach Menge auch bedenkenlos in Taxis und Dienstfahrzeugen transportiert werden.</p>

<p><b>Die Absprache über den Transport findet zwischen den jeweiligen Institutionen statt. Nach Einigung müssen die Kosten für den Transport müssen von der Empfängerinstitution übernommen werden.</b></p>

<h3>ie können sich die beteiligten Behörden rechtlich gegenübertreten?</h3>

<h4>§ 4 Amtshilfepflicht</h4>

<ol type="1">
    <li>Jede Behörde leistet anderen Behörden auf Ersuchen ergänzende Hilfe (Amtshilfe).</li>
    <li>Amtshilfe liegt nicht vor, wenn </li>
    <ol>
        <li>Behörden einander innerhalb eines bestehenden Weisungsverhältnisses Hilfe leisten;</li>
        <li>die Hilfeleistung in Handlungen besteht, die der ersuchten Behörde als eigene Aufgabe obliegen.</li>
    </ol>
</ol>

<h4>§ 5 Voraussetzungen und Grenzen der Amtshilfe </h4>

<ol type="1">
    <li>Eine Behörde kann um Amtshilfe insbesondere dann ersuchen, wenn sie aus tatsächlichen Gründen, besonders weil die zur Vornahme der Amtshandlung erforderlichen Dienstkräfte oder Einrichtungen fehlen, die Amtshandlung nicht selbst vornehmen kann;</li>
</ol>

<h4>§ 7 Durchführung der Amtshilfe </h4>

<ol type="1">
    <li>Die Zulässigkeit der Maßnahme, die durch die Amtshilfe verwirklicht werden soll, richtet sich nach dem für die ersuchende Behörde, die Durchführung der Amtshilfe nach dem für die ersuchte Behörde geltenden Recht.</li>
    <li>Die ersuchende Behörde trägt gegenüber der ersuchten Behörde die Verantwortung für die Rechtmäßigkeit der zu treffenden Maßnahme. Die ersuchte Behörde ist für die Durchführung der Amtshilfe verantwortlich.</li>
</ol>

<h4>§ 8 Kosten der Amtshilfe</h4>

<ol type="1">
    <li>Die ersuchende Behörde hat der ersuchten Behörde für die Amtshilfe keine Verwaltungsgebühr zu entrichten. Auslagen hat sie der ersuchten Behörde auf Anforderung zu erstatten, wenn sie im Einzelfall 35 Euro übersteigen. Leisten Behörden desselben Rechtsträgers einander Amtshilfe, so werden die Auslagen nicht erstattet.</li>
    <li>Nimmt die ersuchte Behörde zur Durchführung der Amtshilfe eine kostenpflichtige Amtshandlung vor, so stehen ihr die von einem Dritten hierfür geschuldeten Kosten (Verwaltungsgebühren, Benutzungsgebühren und Auslagen) zu.</li>
</ol>

<p><b><a href="https://www.gesetze-im-internet.de/vwvfg/BJNR012530976.html#BJNR012530976BJNG002000310">Quelle</a></b></p>

<h3>Wie ist mein Personal versichert?</h3>

<p>Die Unterstützung der Testeinrichtungen durch Studenten und Mitarbeiter von Universitäten erfolgt auf ehrenamtlicher Basis. Hierbei sind die Helfer über die DGUV (Deutsche Gesetzliche Unfallversicherung) gesetzlich unfallversichert. In Bayern wird weiterhin seit 2007 durch die Bayerische Ehrenamtsversicherung sichergestellt, dass Ehrenamtliche bei ihrem Engagement keine Nachteile erleiden, wenn sie selbst keinen entsprechenden Versicherungsschutz haben. Die Bayerische Ehrenamtsversicherung besteht aus einer Haftpflicht- und einer Unfallversicherung. Die Bayerische Ehrenamtsversicherung ist antrags- und beitragsfrei, die Kosten trägt allein der Freistaat Bayern, siehe auch:</p>

<ol type="1">
    <li><a href="https://www.stmas.bayern.de/ehrenamt/anerkennungskultur/versicherung.php">Staatsministerium für Familie, Arbeit und Soziales</a></li>
    <li><a href="https://www.kuvb.de/service/fragen-antworten/ehrenamt/">Kommunale Unfallversicherung Bayern</a></li>
    <li><a href="https://www.dguv.de/de/ihr_partner/ehrenamt/index.jsp">Deutsche Gesetzliche Unfallversicherung</a></li>
</ol>

<h2>Für Suchende</h2>

<h3>Wie kann ich Material/Personal nachfragen?</h3>

    Nach Material und Personen könnt ihr in unserer Angebotsdatenbank suchen, gegliedert nach den Kategorien: Geräte, Verbrauchsmaterial und Personal. Innerhalb dieser Kategorien findet ihr die Angebote der Unis mit den genauen Spezifikationen (z.B. Gerätebezeichnung, Stückzahlen bei Verbrauchsmaterialien, Qualifikationen der Mitarbeiter ect.)

<h3>Gibt es Angebote in meiner Umgebung?</h3>

    Am einfachsten ist der Transfer selbstverständlich für Institutionen die in der Nähe liegen, daher werden Angebote nach Postleitzahl sortiert.

<h3>Wie viel kostet mich das Ausleihen von Geräten?</h3>

    Für das Ausleihen von Geräten müssen in jedem Fall die anfallenden Transportkosten von der erhaltenden Institution getragen werden, weitere Vereinbarungen können in direkter Absprache zwischen den beteiligten Parteien getroffen werden.
</div>
</div>
</div>
</div>
