<!-- German -->
<ng-container *ngIf="locale === 'de'">
  <div class="page-head">
    <div class="container">
      <h2 class="page-title">Frequently Asked Questions</h2>
      <p><small>Häufig gestellte Fragen</small></p>
    </div>
  </div>

  <main class="main-content">
    <div class="fullwidth-block">
      <div class="container">

        <div class="anchor-buttons">
          <button (click)="scrollTo('block-allgemein')">Allgemeine Fragen</button>
          <br/>
          <button (click)="scrollTo('block-anbieter')">Für Anbieter</button>
          <br/>
          <button (click)="scrollTo('block-suchende')">Für Suchende</button>
        </div>

        <div>
          <h2>Tutorials</h2>
          <div class="tutorial-list">
            <div>
              <h4>Angebot einstellen</h4>
              <iframe
                src="https://www.youtube.com/embed/wQK1c2MgbN4"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div>
              <h4>Suchanfrage stellen</h4>
              <iframe
                src="https://www.youtube.com/embed/CB23LKsOuz0"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 long-static-text">
            <h2 id="block-allgemein">Allgemein</h2>

            <h3>Was ist Ziel dieser Seite?</h3>
            <p>Ziel dieser Seite ist es, Corona-Testlabore und Gesundheitsämter
              mit Einrichtungen wie Universitäten zu vernetzen, die Geräte,
              Verbrauchsmaterialien und auch qualifiziertes Personal zur Unterstützung
              bei der Durchführung von Corona-Tests zur Verfügung stellen könnten.
              Dabei können Universitäten ihre freien Ressourcen in unsere Datenbank
              eintragen und werden benachrichtigt, sobald eines der umliegenden
              Testlabore Ressourcen benötigt. Hierdurch können die Testkapazitäten
              erweitert werden, sodass Verdachtsfälle schneller getestet werden können.</p>

            <h3>Welche Geräte und Materialien werden gebraucht?</h3>

            <h4>Geräte</h4>
            <ul>
              <li>PCR-Thermocycler für Tests</li>
              <li>Real-Time-PCR-Thermocycler für Tests</li>
              <li>Tischzentrifugen</li>
              <li>Vortexmischer</li>
              <li>Micropipetten</li>
            </ul>

            <h4>Verbrauchsmaterialien</h4>
            <ul>
              <li>Reaktionsgefäße für die PCR</li>
              <li>Gesichtsmasken FFP 2, FFP 3</li>
              <li>Einmalhandschuhe</li>
              <li>Schutzbrillen</li>
              <li>Schutzanzüge</li>
              <li>Händedesinfektionsmittel</li>
              <li>Oberflächendesinfektionsmittel</li>
              <li>Instrumente für Abstriche</li>
            </ul>

            <h3>Welches Personal wird gebraucht?</h3>

            <h4>Technisches Personal</h4>
            <ul>
              <li>Labortechnische Angestellte</li>
              <li>Postdoktoranden</li>
              <li>Doktoranden</li>
              <li>Studenten</li>
            </ul>

            <h4>Beispiele für benötigte Kompetenzen</h4>
            <ul>
              <li>Erfahrung in der Durchführung von PCR- und Real-Time-PCR-Reaktionen</li>
              <li>Erfahrung in der Isolation von RNA</li>
              <li>Unterweisung für die Durchführung von Tätigkeiten der Sicherheitsstufe S1 oder S2</li>
              <li>Personal ohne besondere Qualifikation für Probentransport/Transport von Verbrauchsmaterial</li>
            </ul>


            <h3>Ich habe keine Erfahrung mit den genannten Methoden, will aber trotzdem helfen. Was kann ich tun?</h3>
            <p>Wir arbeiten aktuell daran, das Tool weiter auszubauen, sodass z.B. auch medizinisch qualifiziertes
              Personal von Testeinrichtungen angefordert werden kann, um beispielsweise bei den Patientenabstrichen
              mitzuwirken. Ebenso arbeiten wir daran, dass Personen ohne entsprechende Qualifikation als Boten dabei
              helfen können,
              Verbrauchsmaterial oder Proben zu den entsprechenden Stellen zu bringen.</p>
            <p>Nähere Informationen gibt es in Kürze hier, danke schonmal, dass Sie helfen möchten!</p>

            <h2 id="block-anbieter">Für Anbieter</h2>

            <h3>Wie kann ich Material/Personal anbieten?</h3>
            <p>Material und Personal können über unsere Webseite angeboten werden. Dazu muss ein Fragebogen ausgefüllt
              werden, damit die Testeinrichtungen entsprechend nach den benötigten Ressourcen suchen können.</p>

            <h3>Wie kann der Materialtransport ablaufen? Was passiert bei Schäden durch den Transport an meinem
              Gerät?</h3>
            <p>Gerätetransport kann auf folgende Weisen erfolgen:</p>
            <ul>
              <li>Durch spezielle Unternehmen, z.B.
                <ul>
                  <li><a
                    href="https://www.schindlauer.de/betriebsumzug-muenchen/umzug-labore-high-tech-muenchen.html">Schindlauer</a>
                  </li>
                  <li><a href="https://www.geuer.de/laborumzug/">Geuer</a></li>
                  <li><a href="https://www.hebert.de/high-tech-transport-laborumzug/">Hebert</a></li>
                  <li><a href="https://www.umzugs-lauer.de/business-umzug/labor-umzug/">Lauer</a></li>
                </ul>
              </li>
              <li>Taxiunternehmen sind ebenfalls gegen Transportschäden versichert: <a
                href="https://www.daserste.de/information/politik-weltgeschehen/morgenmagazin/service/recht-im-taxi-download-100.pdf">Informationsblatt</a>
              </li>
              <li> Transport im Dienstfahrzeug
                <p>
                  Dienstfahrzeuge sind nach aktuellem Kenntnisstand nicht versichert und daher die schlechteste Option.
                  Verbrauchsmaterial kann hingegen je nach Menge auch bedenkenlos in Taxis und Dienstfahrzeugen
                  transportiert werden.
                </p>
              </li>
            </ul>
            <p><b>Die Absprache über den Transport findet zwischen den jeweiligen Institutionen statt. Nach Einigung
              müssen die Kosten für den Transport von der Empfängerinstitution übernommen werden.</b></p>

            <h3>Wie können sich die beteiligten Behörden rechtlich gegenübertreten?</h3>

            <h4>§ 4 Amtshilfepflicht</h4>
            <ol>
              <li>Jede Behörde leistet anderen Behörden auf Ersuchen ergänzende Hilfe (Amtshilfe).</li>
              <li>Amtshilfe liegt nicht vor, wenn
                <ol>
                  <li>Behörden einander innerhalb eines bestehenden Weisungsverhältnisses Hilfe leisten;</li>
                  <li>die Hilfeleistung in Handlungen besteht, die der ersuchten Behörde als eigene Aufgabe
                    obliegen.
                  </li>
                </ol>
              </li>
            </ol>

            <h4>§ 5 Voraussetzungen und Grenzen der Amtshilfe </h4>
            <ol>
              <li>Eine Behörde kann um Amtshilfe insbesondere dann ersuchen, wenn sie aus tatsächlichen Gründen,
                besonders weil die zur Vornahme der Amtshandlung erforderlichen Dienstkräfte oder Einrichtungen
                fehlen, die Amtshandlung nicht selbst vornehmen kann;
              </li>
            </ol>
            <h4>§ 7 Durchführung der Amtshilfe </h4>
            <ol>
              <li>Die Zulässigkeit der Maßnahme, die durch die Amtshilfe verwirklicht werden soll, richtet sich nach
                dem für die ersuchende Behörde, die Durchführung der Amtshilfe nach dem für die ersuchte Behörde
                geltenden Recht.
              </li>
              <li>Die ersuchende Behörde trägt gegenüber der ersuchten Behörde die Verantwortung für die
                Rechtmäßigkeit der zu treffenden Maßnahme. Die ersuchte Behörde ist für die Durchführung der Amtshilfe
                verantwortlich.
              </li>
            </ol>

            <h4>§ 8 Kosten der Amtshilfe</h4>
            <ol>
              <li>Die ersuchende Behörde hat der ersuchten Behörde für die Amtshilfe keine Verwaltungsgebühr zu
                entrichten. Auslagen hat sie der ersuchten Behörde auf Anforderung zu erstatten, wenn sie im
                Einzelfall 35 Euro übersteigen. Leisten Behörden desselben Rechtsträgers einander Amtshilfe, so werden
                die Auslagen nicht erstattet.
              </li>
              <li>Nimmt die ersuchte Behörde zur Durchführung der Amtshilfe eine kostenpflichtige Amtshandlung vor, so
                stehen ihr die von einem Dritten hierfür geschuldeten Kosten (Verwaltungsgebühren, Benutzungsgebühren
                und Auslagen) zu.
              </li>
            </ol>


            <p align="right"><b><a
              href="https://www.gesetze-im-internet.de/vwvfg/BJNR012530976.html#BJNR012530976BJNG002000310">Quelle</a></b>
            </p>

            <h3>Mietverträge</h3>
            <p>Falls Sie einen Mietvertrag benötigen, können Sie Muster auf dieser Seite herunterladen:</p>
            <ul>
              <li>
                <a href="https://www.bvmed.de/de/recht/healthcare-compliance/mustervertraege">Mustervertrag 1</a><br>
              </li>
              <li>
                <a
                  href="https://www.tirol-kliniken.at/data.cfm?vpath=ma-wartbare-inhalte/lkh-hall/leihgeraete3/leihvertrag">Mustervertrag
                  2</a>
              </li>
            </ul>
            <p> Stellen Sie jedoch sicher, dass Sie ihr Gerät als dekontaminiertes Gerät zurückerhalten. </p>


            <h3>Wie ist mein Personal versichert?</h3>
            <p>Die Unterstützung der Testeinrichtungen durch Studenten und Mitarbeiter von Universitäten erfolgt auf
              ehrenamtlicher Basis. Hierbei sind die Helfer über die DGUV (Deutsche Gesetzliche Unfallversicherung)
              gesetzlich unfallversichert. In Bayern wird weiterhin seit 2007 durch die Bayerische Ehrenamtsversicherung
              sichergestellt, dass Ehrenamtliche bei ihrem Engagement keine Nachteile erleiden, wenn sie selbst keinen
              entsprechenden Versicherungsschutz haben. Die Bayerische Ehrenamtsversicherung besteht aus einer
              Haftpflicht- und einer Unfallversicherung. Die Bayerische Ehrenamtsversicherung ist antrags- und
              beitragsfrei, die Kosten trägt allein der Freistaat Bayern.</p>
            <ul>
              <li><a href="https://www.stmas.bayern.de/ehrenamt/anerkennungskultur/versicherung.php">Staatsministerium
                für Familie, Arbeit und Soziales</a></li>
              <li><a href="https://www.kuvb.de/service/fragen-antworten/ehrenamt/">Kommunale Unfallversicherung
                Bayern</a></li>
              <li><a href="https://www.dguv.de/de/ihr_partner/ehrenamt/index.jsp">Deutsche Gesetzliche
                Unfallversicherung</a></li>
            </ul>

            <h2 id="block-suchende">Für Suchende</h2>

            <h3>Wie kann ich Material/Personal nachfragen?</h3>
            <p>Nach Material und Personen können Sie in unserer Angebotsdatenbank suchen, gegliedert in folgende
              Kategorien: Geräte, Verbrauchsmaterial und Personal. Innerhalb dieser Kategorien findet ihr die Angebote
              der
              Unis mit den genauen Spezifikationen (z.B. Gerätebezeichnung, Stückzahlen bei Verbrauchsmaterialien,
              Qualifikationen der Mitarbeiter etc.)</p>

            <h3>Gibt es Angebote in meiner Umgebung?</h3>
            <p>Am einfachsten ist der Transfer selbstverständlich für Institutionen, die in der Nähe liegen, daher
              werden
              Angebote nach Postleitzahl sortiert.</p>

            <h3>Wie viel kostet mich das Ausleihen von Geräten?</h3>
            <p>Für das Ausleihen von Geräten müssen in jedem Fall die anfallenden Transportkosten von der erhaltenden
              Institution getragen werden, weitere Vereinbarungen können in direkter Absprache zwischen den beteiligten
              Parteien getroffen werden.</p>

          </div>
        </div>
      </div>
    </div>
  </main>
</ng-container>


<!-- English -->
<ng-container *ngIf="locale === 'en'">
  <div class="page-head">
    <div class="container">
      <h2 class="page-title">Frequently Asked Questions</h2>
    </div>
  </div>

  <main class="main-content">
    <div class="fullwidth-block">
      <div class="container">

        <div class="anchor-buttons">
          <button (click)="scrollTo('block-allgemein')">General Gnformation</button>
          <br/>
          <button (click)="scrollTo('block-anbieter')">Für Donor Institutions</button>
          <br/>
          <button (click)="scrollTo('block-suchende')">For Recipients</button>
        </div>

        <div>
          <h2>Tutorials</h2>
          <div class="tutorial-list">
            <div>
              <h4>Create Offer</h4>
              <iframe
                src="https://www.youtube.com/embed/wQK1c2MgbN4"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <div>
              <h4>Search Request</h4>
              <iframe
                src="https://www.youtube.com/embed/CB23LKsOuz0"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-8 long-static-text">
            <h2 id="block-allgemein">General Informaton</h2>

            <h3>What is the goal of this page?</h3>
            <p>
              The aim of this page is to connect Corona test laboratories and health authorities with institutions such
              as universities, which could provide equipment, consumables and also qualified personnel to assist in the
              execution of Corona tests. Universities can enter their availiable resources in our database and will be
              notified as soon as one of the surrounding test laboratories needs resources. This allows the test
              capacities to be expanded so that suspected corona cases can be tested more quickly.
            </p>

            <h3>Which devices and materials are needed?</h3>

            <h4>Equipment</h4>
            <ul>
              <li>PCR thermal cycler for tests</li>
              <li>Real-time PCR thermal cycler for tests</li>
              <li>Benchtop centrifuges</li>
              <li>Vortex mixing devices</li>
              <li>Micropipettes</li>
            </ul>

            <h4>Consumables</h4>
            <ul>
              <li>Reaction tubes for the PCR</li>
              <li>Face masks FFP2</li>
              <li>Disposable gloves </li>
              <li>Safety goggles</li>
              <li>Protective suits</li>
              <li>Hand disinfectant</li>
              <li>Surface disinfectant</li>
              <li>Swab tests</li>
            </ul>

            <h3>What kind of staff is needed?</h3>

            <h4>Technical staff</h4>
            <ul>
              <li>laboratory technicians</li>
              <li>Postdocs</li>
              <li>PhD students</li>
              <li>Students</li>
            </ul>

            <h4>Skills required:</h4>
            <ul>
              <li>Experience in performing PCR and real-time PCR reactions </li>
              <li>Experience in isolating RNA</li>
              <li>
                Instruction for the execution of activities of security level S1 or S2 Personnel with medical training
                in swab tests
              </li>
            </ul>

            <h3>I have no experience with the methods mentioned, but I still want to help. What can I do?</h3>
            <p>We are also looking to bring qualified volunteers for the transportation of samples and consumables to
              the appropriate locations.</p>

            <h2 id="block-anbieter">For Donor Institutions</h2>

            <h3>How can I offer material / personnel?</h3>
            <p>
              Material and personnel can be offered on our website, a questionnaire has to be filled in so that the test
              facilities can search for the required resources.
            </p>

            <h3>How can the material transport work? What happens if my device is damaged during transport?</h3>
            <p>The device can be transported in the following ways:</p>
            <ul>
              <li>By special companies, e.g.
                <ul>
                  <li><a
                    href="https://www.schindlauer.de/betriebsumzug-muenchen/umzug-labore-high-tech-muenchen.html">Schindlauer</a>
                  </li>
                  <li><a href="https://www.geuer.de/laborumzug/">Geuer</a></li>
                  <li><a href="https://www.hebert.de/high-tech-transport-laborumzug/">Hebert</a></li>
                  <li><a href="https://www.umzugs-lauer.de/business-umzug/labor-umzug/">Lauer</a></li>
                </ul>
              </li>
              <li>Taxi companies are also insured against transport damage: <a
                href="https://www.daserste.de/information/politik-weltgeschehen/morgenmagazin/service/recht-im-taxi-download-100.pdf">Informationsblatt</a>
              </li>
              <li>Transport in company vehicles
                <p>
                  According to the current state of knowledge, these are not insured and therefore the worst
                  option. Depending on the quantity, consumables can also be transported in taxis and company
                  vehicles.
                </p>
              </li>
            </ul>
            <p><b>
              The agreement on transport takes place between the respective institutions. After agreement, the costs of
              transport must be borne by the recipient institution.
            </b></p>

            <h3>How can the authorities involved legally engage with each other?</h3>

            <h4>§ 4 Administrative assistance</h4>
            <ol>
              <li>
                Each authority shall provide other authorities with additional assistance upon request (administrative
                assistance).
              </li>
              <li>Administrative assistance is not available if
                <ol>
                  <li>Our authorities help one another within an existing relationship;</li>
                  <li>
                    the assistance consists in acts which are the responsibility of the requested authority as a
                    separate task.
                  </li>
                </ol>
              </li>
            </ol>

            <h4>§ 5 Requirements and limits of administrative assistance</h4>
            <ol>
              <li>
                An authority may request administrative assistance in particular if it: for factual reasons, especially
                because the staff or facilities required to perform the official act
                are missing, cannot carry out the official act itself;
              </li>
            </ol>
            <h4>§ 7 Execution of administrative assistance</h4>
            <ol>
              <li>
                The admissibility of the measure, which is to be implemented by the administrative assistance, depends
                on the requesting authority, the implementation of the administrative assistance on the law applicable
                to the requested authority.
              </li>
              <li>
                The requesting authority is responsible to the requested authority for the legality of the measure to be
                taken. The requested authority is responsible for performing the administrative assistance.
              </li>
            </ol>

            <h4>§ 8 costs of administrative assistance</h4>
            <ol>
              <li>
                The requesting authority shall not pay the administrative assistance requested administrative fee. On
                request, it must reimburse expenses to the requested authority if they exceed 35 euros in individual
                cases. If authorities of the same legal entity provide mutual assistance, the expenses will not be
                reimbursed.
              </li>
              <li>
                If the requested authority carries out an official act to carry out the administrative assistance, it is
                entitled to the costs owed for this by a third party (administrative fees, user fees and expenses).
              </li>
            </ol>


            <p align="right"><b><a
              href="https://www.gesetze-im-internet.de/vwvfg/BJNR012530976.html#BJNR012530976BJNG002000310">Source</a></b>
            </p>

            <h3>Rental Contracts</h3>
            <p>If you need a rental contract you can download samples from this page:</p>
            <ul>
              <li>
                <a href="https://www.bvmed.de/de/recht/healthcare-compliance/mustervertraege">Sample 1</a><br>
              </li>
              <li>
                <a
                  href="https://www.tirol-kliniken.at/data.cfm?vpath=ma-wartbare-inhalte/lkh-hall/leihgeraete3/leihvertrag">Sample
                  2</a>
              </li>
            </ul>
            <p>However, make sure you get your device back as a decontaminated device.</p>


            <h3>How is my staff insured?</h3>
            <p>
              The test facilities are supported by students and university staff on a voluntary basis. The helpers are
              legally insured through the DGUV (German Statutory Accident Insurance). In Bavaria, the Bavarian Volunteer
              Insurance has continued to ensure since 2007 that volunteers do not suffer any disadvantages in their
              engagement if they do not have adequate insurance coverage themselves. The Bavarian volunteer insurance
              consists of liability and accident insurance. The Bavarian voluntary insurance is free of application and
              contributions, the costs are borne solely by the Free State of Bavaria.
            </p>
            <ul>
              <li><a href="https://www.stmas.bayern.de/ehrenamt/anerkennungskultur/versicherung.php">https://www.stmas.bayern.de/ehrenamt/anerkennungskultur/versicherung.php</a>
              </li>
              <li><a href="https://www.kuvb.de/service/fragen-antworten/ehrenamt/">https://www.kuvb.de/service/fragen-antworten/ehrenamt/</a>
              </li>
              <li><a href="https://www.dguv.de/de/ihr_partner/ehrenamt/index.jsp">https://www.dguv.de/de/ihr_partner/ehrenamt/index.jsp</a>
              </li>
            </ul>

            <h2 id="block-suchende">For Recipients</h2>

            <h3>How can I request material / personnel?</h3>
            <p>
              You can search for material and people in our database, divided by the categories: devices, consumables
              and personnel. Within these categories you will find the offers of the universities with the exact
              specifications (e.g. device designation, number of consumables, employee qualifications etc.)
            </p>

            <h3>Are there any offers in my area? </h3>
            <p>
              The easiest way to transfer is, of course, for nearby institutions, so offers are sorted by postcode.
            </p>

            <h3>How much does it cost to rent equipment?</h3>
            <p>
              To borrow equipment, the transport costs incurred must always be borne by the receiving institution;
              further agreements can be made in direct consultation between the parties involved.
            </p>

          </div>
        </div>
      </div>
    </div>
  </main>
</ng-container>

