<div class="page-head" >
  <div class="container">
    <h2 class="page-title">Angebot einstellen</h2>
  </div>
</div>

<main class="main-content"><div class="fullwidth-block"><div class="container">

<div class="form-block">
  <div class="form-block__label">
    Kontaktdaten
  </div>
  <div class="form-block__input-field">
    <label>
      Institution
      <span *ngIf="!provider.institution" class="form-alert">
        Bitte ausfüllen!
      </span>
    </label>
    <input type="text" [(ngModel)]="provider.institution">
  </div>

  <div class="form-block__input-field">
    <label>
      Verantwortliche Person
      <span *ngIf="!provider.name" class="form-alert">
        Bitte ausfüllen!
      </span>
    </label>
    <input type="text" [(ngModel)]="provider.name">
  </div>

  <div class="form-block__input-field">
    <label>
      E-Mail Adresse
      <span *ngIf="!provider.mail" class="form-alert">
        Bitte ausfüllen!
      </span>
    </label>
    <input type="email" [(ngModel)]="provider.mail">
  </div>

  <div class="form-block__input-field">
    <label>
      Telefonnummer
    </label>
    <input type="text" [(ngModel)]="provider.phone">
  </div>

  <div class="form-block__input-field">
    <label>
      Adresse
      <span *ngIf="!(provider.address.street && provider.address.streetNumber && provider.address.postalCode
        && provider.address.city && provider.address.country)" class="form-alert">
        Bitte ausfüllen!
      </span>
    </label>
    <br>
    <input type="text" placeholder="Straße" [(ngModel)]="provider.address.street">
    <input type="text" placeholder="Hausnummer" [(ngModel)]="provider.address.streetNumber">
    <input type="text" placeholder="PLZ" [(ngModel)]="provider.address.postalCode">
    <input type="text" placeholder="Stadt" [(ngModel)]="provider.address.city">
    <input type="text" placeholder="Land" [(ngModel)]="provider.address.country">
  </div>

  <div>
    <input [(ngModel)]="checkedDatenschutz" type="checkbox">
    <label>
      Hiermit versichere ich die <a href="/datenschutz" target="_blank">Datenschutzerklärung</a>
      gelesen zu haben und stimme dieser zu.
      <span *ngIf="!checkedDatenschutz" class="form-alert">
        Bitte bestätigen!
      </span>
    </label>
  </div>
</div>

<h2>Ressourcen</h2>

<div class="button-bar">
  <button (click)="addPersonnel()">Personal hinzufügen</button>
  <button (click)="addDevice()">Gerät hinzufügen</button>
  <button (click)="addConsumable()">Verbrauchsmaterial hinzufügen</button>
</div>

<div *ngFor="let r of resources; let gIndex = index">
  <app-offer-form-resource-block
    [resource]="r"
    (delete)="deleteItem(gIndex)"
  ></app-offer-form-resource-block>
</div>

<div class="re-captcha">
  <re-captcha (resolved)="resolved($event)" siteKey="6Lc7y-MUAAAAAGDeINlckhxOSo2eKZnys3XFj2qh"></re-captcha>
</div>

<div class="submit-button">
  <button class="button" (click)="onSubmit()" [disabled]="!recaptcha || !isValid()">Angebot erstellen!</button>
</div>

</div></div></main>
