.button-bar {
  button {
    background: none;
    border: none;
    outline: none;
    text-decoration: underline;
  }
}


.re-captcha {
  margin-bottom: 20px;
}


.submit-button {
  button[disabled],
  button[disabled]:hover,
  button[disabled]:focus,
  button[disabled]:active{
    background-color: gray;
    box-shadow: none;
    color: #444e55;
  }
}


.form-alert {
  font-weight: bold;
  color: red;
}
