<div class="page-head" >
  <div class="container">
    <h2 class="page-title">Angebot einstellen</h2>
  </div>
</div>

<main class="main-content"><div class="fullwidth-block"><div class="container">

<div class="form-block">
  <div class="form-block__label">
    Kontaktdaten
  </div>
  <div class="form-block__input-field">
    <label>
      Institution
      <span *ngIf="!contactData.organisation" class="form-alert">
        Bitte ausfüllen!
      </span>
    </label>
    <input type="text" [(ngModel)]="contactData.organisation">
  </div>

  <div class="form-block__input-field">
    <label>
      Verantwortliche Person
      <span *ngIf="!contactData.person" class="form-alert">
        Bitte ausfüllen!
      </span>
    </label>
    <input type="text" [(ngModel)]="contactData.person">
  </div>

  <div class="form-block__input-field">
    <label>
      E-Mail Adresse
      <span *ngIf="!contactData.mail" class="form-alert">
        Bitte ausfüllen!
      </span>
    </label>
    <input type="email" [(ngModel)]="contactData.mail">
  </div>

  <div class="form-block__input-field">
    <label>
      Telefonnummer
    </label>
    <input type="text" [(ngModel)]="contactData.phone">
  </div>

  <div class="form-block__input-field">
    <label>
      Adresse
      <span *ngIf="!(contactData.street && contactData.houseNumber && contactData.postalCode && contactData.city && contactData.country)" class="form-alert">
        Bitte ausfüllen!
      </span>
    </label>
    <br>
    <input type="text" placeholder="Straße" [(ngModel)]="contactData.street">
    <input type="text" placeholder="Hausnummer" [(ngModel)]="contactData.houseNumber">
    <input type="text" placeholder="PLZ" [(ngModel)]="contactData.postalCode">
    <input type="text" placeholder="Stadt" [(ngModel)]="contactData.city">
    <input type="text" placeholder="Land" [(ngModel)]="contactData.country">
  </div>

  <div>
    <input [(ngModel)]="contactData.checkedDatenschutz" type="checkbox">
    <label>
      Hiermit versichere ich die <a href="/datenschutz" target="_blank">Datenschutzrechlinien</a>
      gelesen zu haben und stimme diesen zu.
      <span *ngIf="!contactData.checkedDatenschutz" class="form-alert">
        Bitte bestätigen!
      </span>
    </label>
  </div>
</div>

<h2>Ressourcen</h2>

<div class="button-bar">
  <button (click)="addPersonnel()">Personal hinzufügen</button>
  <button (click)="addDevice()">Gerät hinzufügen</button>
  <button (click)="addConsumable()">Verbrauchsmaterial hinzufügen</button>
</div>

<div *ngFor="let g of goods; let gIndex = index">
  <app-offer-form-resource-block
    [good]="g"
    (delete)="deleteItem(gIndex)"
  ></app-offer-form-resource-block>
</div>

<div class="re-captcha">
  <re-captcha (resolved)="resolved($event)" siteKey="6LdjgOMUAAAAACJdt06hAYp0B1Peuq4palp0KQnD"></re-captcha>
</div>

<div class="submit-button">
  <button class="button" (click)="onSubmit()" [disabled]="buttonDisabled || !isValid()">Angebot erstellen!</button>
</div>

</div></div></main>
