.statistics-box {
  margin-top: 20px;
  display: flex;
  justify-content: center;

  th {
    text-align: left;
  }
}

.statistics-col {
  flex-grow: 0;
  flex-wrap: nowrap;
}

td, th {
  padding: 0 1em 0 1em;
}
