<div class="statistics-box">
    <div class="statistics-col">
        <table>
            <tr>
                <th i18n="@@devices">Devices</th>
            </tr>
            <tr>
                <td>{{ deviceCategoryToDE[DeviceCategory.PCR_THERMOCYCLER] }}</td><td>5</td>
            </tr>
            <tr>
                <td>{{ deviceCategoryToDE[DeviceCategory.RT_PCR_THERMOCYCLER] }}</td><td>2</td>
            </tr>
            <tr>
                <td>{{ deviceCategoryToDE[DeviceCategory.ZENTRIFUGE] }}</td><td>2</td>
            </tr>
            <tr>
                <td>{{ deviceCategoryToDE[DeviceCategory.VORTEXER] }}</td><td>2</td>
            </tr>
            <tr>
                <td>{{ deviceCategoryToDE[DeviceCategory.PIPETTE] }}</td><td>2</td>
            </tr>
        </table>
    </div>
    <div class="statistics-col">
        <table>
            <tr>
                <th i18n="@@consumables">Verbrauchsdinge</th>
            </tr>
            <tr>
                <td>{{ consumableCategoryTo[ConsumableCategory.SCHUTZBRILLE] }}</td><td>5</td>
            </tr>
            <tr>
                <td>{{ consumableCategoryTo[ConsumableCategory.HANDSCHUHE] }}</td><td>80 {{ unitTo[Unit.PACK] }}</td>
            </tr>
            <tr>
                <td>{{ consumableCategoryTo[ConsumableCategory.REAKTIONSGEFAESSE] }}</td><td>10 {{ unitTo[Unit.PACK] }}, 20 {{ unitTo[Unit.PIECE] }}</td>
            </tr>
        </table>
    </div>
    <div class="statistics-col">
        <table>
            <tr>
                <th i18n="@@persons">Personen</th>
            </tr>
            <tr>
                <td i18n="@@helpers">Helfer</td><td>32</td>
            </tr>
        </table>
    </div>
</div>
