<div class="statistics-box">
    <div class="statistics-col">
        <table>
            <tr>
                <th>Devices</th>
            </tr>
            <tr>
                <td>{{ deviceCategoryToDE[DeviceCategory.PCR_THERMOCYCLER] }}</td><td>5</td>
            </tr>
            <tr>
                <td>{{ deviceCategoryToDE[DeviceCategory.RT_PCR_THERMOCYCLER] }}</td><td>2</td>
            </tr>
            <tr>
                <td>{{ deviceCategoryToDE[DeviceCategory.ZENTRIFUGE] }}</td><td>2</td>
            </tr>
            <tr>
                <td>{{ deviceCategoryToDE[DeviceCategory.VORTEXER] }}</td><td>2</td>
            </tr>
            <tr>
                <td>{{ deviceCategoryToDE[DeviceCategory.PIPETTE] }}</td><td>2</td>
            </tr>
        </table>
    </div>
    <div class="statistics-col">
        <table>
            <tr>
                <th>Verbrauchsdinge</th>
            </tr>
            <tr>
                <td>{{ consumableCategoryTo[ConsumableCategory.SCHUTZBRILLE] }}</td><td>5</td>
            </tr>
            <tr>
                <td>{{ consumableCategoryTo[ConsumableCategory.HANDSCHUHE] }} (Packungen)</td><td>5</td>
            </tr>
        </table>
    </div>
</div>
