<div class="page-head">
  <div class="container">
    <h2 class="page-title" i18n="@@contact">Kontakt</h2>
  </div>
</div>

<main class="main-content">
  <div class="fullwidth-block">
    <div class="container">
      <div class="row">
        <p i18n>
          Wenn Sie Fragen, Wünsche oder Anregungen haben, freuen wir uns, wenn Sie Kontakt mit uns aufnehmen.
          Schreiben Sie uns eine Email an <a href="mailto:mail@pirat-tool.com">mail@pirat-tool.com</a> oder benutzen Sie
          das Kontaktformular, wir melden uns schnellstmöglich per E-Mail oder Telefon bei Ihnen!
        </p>

        <div class="form-block">
          <div *ngIf="callBackSubmit" class="info-box" i18n>
            Vielen Dank für Ihre Kontaktanfrage, wir werden uns gleich bei Ihnen melden.
          </div>
          <ng-container *ngIf="!callBackSubmit">
            <div class="form-block__label" i18n>
              Rückruf anfragen
            </div>
            <div class="form-block__input-field">
              <input type="text" placeholder="name" i18n-placeholder="@@name" [(ngModel)]="requestData.name">
              <span class="input-field-focus"></span>
              <span *ngIf="!requestData.name" class="form-alert" i18n="@@requiredField">
                  Pflichtangabe
                </span>
            </div>

            <div class="form-block__input-field">
              <input type="text" placeholder="Telefonnummer" i18n-placeholder="@@phoneNumber" [(ngModel)]="requestData.phone">
              <span class="input-field-focus"></span>
              <span *ngIf="!requestData.phone" class="form-alert" i18n="@@requiredField">
                  Pflichtangabe
                </span>
            </div>

            <div class="form-block__input-field">
              <input type="email" placeholder="E-Mail Adresse" i18n-placeholder="@@emailAddress" [(ngModel)]="requestData.email">
              <span class="input-field-focus"></span>
            </div>

            <div class="form-block__select">
              <label>
                <span i18n="@@topic">Thema</span>
              </label>
              <select [(ngModel)]="requestData.topic">
                <option value="technicalQuestion">Technische Frage</option>
                <option value="topicalQuestion">Fachliche Frage</option>
                <option value="otherQuestion">Sonstiges</option>
              </select>
              <span *ngIf="!requestData.topic" class="form-alert" i18n="@@requiredField">
                  Pflichtangabe
                </span>
            </div>

            <div class="form-block__input-field">
              <input type="text" placeholder="Anmerkungen" i18n-placeholder="comments" [(ngModel)]="requestData.notes">
              <span class="input-field-focus"></span>
            </div>

            <div>
              <input [(ngModel)]="checkedDatenschutz" type="checkbox">
              <label i18n>
                Hiermit versichere ich, die <a href="/datenschutz" target="_blank">Datenschutzerklärung</a>
                gelesen zu haben und stimme dieser zu.
              </label>
              <span *ngIf="!checkedDatenschutz" class="form-alert" i18n="@@requiredField">
                  Pflichtangabe
                </span>
            </div>

            <app-re-captcha-wrapper (resolved)="resolved($event)"></app-re-captcha-wrapper>
            <div class="submit-button align-center align-center-text">
              <button class="button" (click)="onSubmit()" [disabled]="!recaptcha || !isValid()" i18n="@@sendRequest">
                Anfrage abschicken
              </button>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</main>
